<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(43, 42, 42);
        }
        #friendRequests {
            display: flex;
            flex-direction: row;


        }

        #acceptancePromptCont>svg {
            width: 20px;
            height: 20px;
            border: 2px;
            padding: 3px;
            border-radius: 100%;
            margin: 3px;
            border-style: solid;
            border-color: rgb(72, 72, 72);
            background-color: rgb(0, 0, 0);
        }

        .acceptRequest:hover,
        .denyRequest:hover {
            transform: scale(1.2);

            transition: 0.05s;
        }
        .cardContainer{
            border: 0px solid wheat;
            transition: 0.04s;
        }
        .cardContainer:hover{
            border: 2px solid wheat; /* Replace 'visible' with the actual color or style you want */
        }

        
        .acceptRequest,
        .denyRequest {
            width: 20px !important;
            height: 20px !important;
            transition: 0.25s;
        
        }

        #break1 {
            position: fixed;
            width: 95%;
            top: 25.5%;
            z-index: 2;
        }
        .pfpSmall{
            border-radius: 100%;
            margin:10px;
            border:4px solid rgb(0, 245, 159);
            padding:1px;
        }
        .pfpThumb{
            border-radius: 100%;
            margin:5px;
            padding:1px;
            width: 50px;
            height: 50px;
        }
        .friendContainer{
            display: flex;
            flex-direction: row;
        }
    </style>
</head>

<body>
    <div id="friendRequests" style="height:25.5%">
        <script>
        </script>
        <% for(i of JSON.parse(friendRequests)){%>
        <div class="cardContainer"style="  height: 40%;
                max-height: 40%;background-color: rgb(58, 58, 58); display: flex;flex-direction: column;">
            <img width="100px" height="100px" class="pfpSmall"
                src="/<%-i.id%>/pfp.png" onerror="this.src='/default.jpg';">
            <p style="text-align: center;"><%-i.username%></p>
            <div id="acceptancePromptCont" style="display: flex; flex-direction: row; justify-content: space-around;">
                <svg data-username="<%-i.username%>" class="acceptRequest" xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path style="fill:rgb(3, 139, 24)"
                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                </svg>
                <svg data-username="<%-i.username%>" class="denyRequest" style="fill:red" xmlns="http://www.w3.org/2000/svg" height="16" width="20"
                    viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path
                        d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L353.3 251.6C407.9 237 448 187.2 448 128C448 57.3 390.7 0 320 0C250.2 0 193.5 55.8 192 125.2L38.8 5.1zM264.3 304.3C170.5 309.4 96 387.2 96 482.3c0 16.4 13.3 29.7 29.7 29.7H514.3c3.9 0 7.6-.7 11-2.1l-261-205.6z" />
                </svg>
            </div>
        </div>


        <%}%>
    </div>
    <%if(JSON.parse(friendRequests).length!=0){%>
    <hr id="break1">
    <% }else {%> 
        <h1 style="color: rgb(172, 172, 172);">Your friend requests go here, currently empty.</h1>
        <%}%>
    <span style="display: block;"></span>
    <% for(i of JSON.parse(friends)){%>
        <div class="friendContainer">
        <img width="100px" height="100px" class="pfpThumb"
        src="/<%-i.id%>/pfp.png" onerror="this.src='/default.jpg';">
        <p>eloo <%-i.username%></p>
    </div>
        <%}%>
    <script>
        document.querySelectorAll(".acceptRequest").forEach((e)=>{
            e.onclick=async ()=>{
                await fetch("/acceptFriendRequest",{method:"POST",body:JSON.stringify({username:e.dataset.username})})
                location.reload()
            }
        })
        document.querySelectorAll(".denyRequest").forEach((e)=>{
            e.onclick=async ()=>{
                await fetch("/denyFriendRequest",{method:"POST",body:JSON.stringify({username:e.dataset.username})})
                location.reload()
            }
        })
    </script>
</body>
</html>